.app__category_card{
    display: grid;
    grid-template-columns: repeat(3, 220px);
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

@media screen and (max-width: 768px){
    .app__category_card{
        grid-template-columns: repeat(2, 220px);
        row-gap: 4rem;
    }
}

@media screen and (max-width: 520px){
    .app__category_card{
        grid-template-columns: repeat(1, 220px);
        row-gap: 5rem;
    }
}
